    
    header { 
        background-color: #f9f9fd;
        text-align: center;
        height:80px;
        font-size: 110%;
        line-height: 5;
    } 
  
  button {
    background-color: #202142;
    border-radius: 7px;
    color: white;
    float: right;
    height: 30px;
    margin-right: 12px;
    font-size: 100%;
    margin-top: 25px;
  }

img{
float: left;
border-radius: 500px;
margin-top: 12px;
}

a{
  color:blue;
  position: fixed; left: 870px;
}



input{
 position: relative; left: 500px;
 width: 150px;
 font-size: 20px;
}

.but2{
  position: fixed; left: 500px;
  font-size: 18px;
}

.linkdelete{
color: red;
margin-left: -360px;
}

.reset{
  position: relative;left: 05px;
}

.vertical{
  border-left: 1px solid #BCFFEF;
  height: 800px;
  position: absolute; 
  left: 20%;
  margin-top: 4%;
}
